*target
*.cache
*.classpath
*.project
*.settings
*.idea
*.idea_modules
*.tmpBin
/logs
/sb
/sbt
/ssd
/sbt.bat
/ssd.bat
/run.bat
/sb.bat
/extras/jrebel-5.6.3a/licensing.info
/sbtIvy
/conf/evolutions
/bin/
/goagentSbt.bat
/elish.bat
/elish
/sbt-launch-0.13.7.jar